@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    color: #000
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(0, 0, 218);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35pc;
    margin-bottom: 30pc;
    margin-top: 20pc
}
.cart{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position:absolute;
    top:35pc;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Cart{
    background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
}
.Shopping {
    height: 550px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    margin-top: 3pc;
    top: 2pc;
    right: 0;
    left: 0;
    bottom: 0
}
.cart .shopping-cart{
    height: 550px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0 
}
#close{
    cursor: pointer;
}
.cart .shopping-cart .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart .shopping-cart .header h3{
    font-size: 1.3rem;
    color: rgb(64, 69, 83);
    font-weight: 700;
}
.cart .shopping-cart .product1,
.cart .shopping-cart .product2,
.cart .shopping-cart .product3,
.cart .shopping-cart .product4,
.cart .shopping-cart .product5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    display: none;
}
.product1{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        display: none;
}
.cart .shopping-cart .product1 img,
.cart .shopping-cart .product2 img,
.cart .shopping-cart .product3 img,
.cart .shopping-cart .product4 img,
.cart .shopping-cart .product5 img{
    width: 30%;
}
.cart .shopping-cart .product1 .text,
.cart .shopping-cart .product2 .text,
.cart .shopping-cart .product3 .text,
.cart .shopping-cart .product4 .text,
.cart .shopping-cart .product5 .text{
    display: flex;
    align-items: center;
    cursor: pointer;   
}
.cart .shopping-cart .checkout {
    margin-top: 1rem;
}
.cart .shopping-cart .checkout .buttons button{
    border: none;
    background: rgb(56, 102, 223);
    padding: 0.3rem;
    margin-top: 4px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
#add {
    color: #fff;
    border: none;
    background: black;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

#add:hover {
    background: #5c5c5c;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background: #fafafa;
    overflow-x: hidden;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 4rem;
    font-weight: 700;
    display: none;
}

header {
    display: flex;
    background-color: rgb(254, 238, 0);
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .header-logo{
    display: flex;
    align-items: center;
}
header .header-logo .logo{
    width: 49%;
    display: flex;
    align-items: center;
}
header .header-logo .logo img {
    width: 60%;
    padding-left: 20px;
    padding-top: 0px;
}
header .header-logo .country{
    display: flex;
    align-items: center;
}
header .header-logo .country .text{
    display: grid;
    padding-left: 8px;
}
header .header-logo .country .text h5{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: rgb(68, 68, 68);
    font-weight: 400;
}
header .header-logo .country .text h5 i{
    padding-left: 5px;
}
header .header-logo .country .text h4{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(68, 68, 68);

}
header .header-logo .country:hover{
    opacity: 0.6;
    cursor: pointer;
}
header .header-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    margin-right: -4pc
}

header .header-input form {
    color: #555;
    display: flex;
    padding: 3px;
    border: 1px solid transparent;
    width: 100%;
    position: relative;
    margin-right: 60px;
}

header .header-input form input {
    border: none;
    background: #fff;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 100%;
    margin-left: 20px !important;
}

header .header-input form .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
        background: #fff;

}

header .header-input form .icon button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding-left: 10px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

header .header-input form input:focus,
button:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

header .header-input form i {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding-left: 10px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    cursor: pointer;
    opacity: 0.7;
    display: block;
}

header .header-input input {
    width: 300%;
    padding: 8px;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
}

header .header-input i {
    position: absolute;
    margin-left: 33pc;
    cursor: pointer;
}

header .header-input button {
    border: none;
    padding: 10px 6px;
    background-color: ghostwhite;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s;
}

header .header-input button:hover {
    background-color: #fff;
}

header .header-input .suggest ul {
    list-style: none;
}

header .header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-icons a {
    margin: 12px;
    display: flex;
    text-decoration: none;
    color: #5f5f5f;
    font-size: 1rem;
    padding-right: 20px;
    border-right: 1px solid #5c5c5c;
    display: flex;
    align-items: center;
    font-weight: 700
}
header .header-icons .shopping a span{
    font-size: 15px;
    color: #5c5c5c
}
header .header-icons a i{
    margin-left: 4px;
    color: #5f5f5f;

}
header .header-icons .shopping a{
    border-right: none;
}
header .header-icons a:hover {
    color: #acacac;
}

header .header-icons .loged {
    display: flex;
    width: 100%;
}

header .responsive-icons {
    display: flex;
}

header .responsive-icons a {
    margin: 12px;
    text-decoration: none;
    color: #5f5f5f;
    display: none;
}


/*banner */

.banner img {
    width: 100%;
}


/*slide show*/

.slide-show {
    position: relative;
    margin: auto;
}

.slide-show .prev,
.slide-show .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/*login page*/

.login-container {
    width: 40%;
    margin-top: 1pc;
    margin-left: 26pc;
    box-shadow: 1.7px 2px 15px 12px #f2f2f2;
    ;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-container .login-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .login-img img {
    width: 100%;
}

.login-container .login-text {
    text-align: center;
    padding-top: 10px;
    color: #3d3d3d;
    font-size: 1.7rem;
    font-weight: 900;
}

.login-container .login-input {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 10pc;
}

.login-container .login-input input {
    width: 200%;
    margin-top: .5pc;
    margin-bottom: .8pc;
    padding: 10px;
    border: 1px solid #3d3d3d;
    border-radius: 8px;
}

.login-container .login-input h5 {
    color: red;
    padding-bottom: 10px;
    display: none;
}

.login-container .login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .login-submit .submitBtn {
    text-decoration: none;
    background-color: blue;
    padding-right: 5pc;
    padding-left: 5pc;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    ;
    border-radius: 10px;
    color: #f2f2f2;
}

.login-container .login-submit .clearBtn {
    text-decoration: none;
    background-color: #bbb;
    padding-right: 5pc;
    padding-left: 5pc;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    ;
    border-radius: 10px;
    color: #f2f2f2;
}

.login-container .login-submit .submit:hover {
    text-decoration: none;
    background-color: rgb(0, 0, 218);
    padding-right: 5pc;
    padding-left: 5pc;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 10px;
    color: #f2f2f2;
}

.login-container .login-submit .clear:hover {
    text-decoration: none;
    background-color: #929292;
    padding-right: 5pc;
    padding-left: 5pc;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    ;
    border-radius: 10px;
    color: #f2f2f2;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*offers images*/

.offers {
    display: flex;
}

.offers img {
    width: 70%;
}


/*card*/

.cardss h2 {
    color: #333333;
    font-size: 1.6rem;
    padding: 10px 10px;
    font-weight: 700;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards .card {
    box-shadow: 4px 2px 8px 4px #f2f2f2;
    margin: 10px;
    width: 100%;
}

.cards .card:hover {
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    transition: 0.3s;
    transform: scale(1)
}

.cards .card .card-title {
    width: 100%;
}

.cards .card .card-title img {
    width: 100%;
}

.cards .card .card-text h4 {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
}

.cards .card .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.cards .card .price h5,
span {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
}

.cards .card .price i {
    width: 30%;
    cursor: pointer;
}


/*navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #faf0f0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    margin: 20px;
}

img {
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 1rem;
    font-weight: 600;
}

.navbar ul li a:hover {
    background: #fff;
    padding: 13px;
    box-shadow: 4px 2px 8px 4px #f2f2f2;
}

.category {
    text-align: center;
    padding: 1pc;
    font-weight: 600;
    font-size: 1.23rem !important;
    text-decoration: none;
    color: rgb(0, 0, 218);
}

.category .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10pc
}

.container .container-text h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #3d3d3d;
}

.container .container-text h4 {
    font-size: 1rem;
    color: #3d3d3d;
    font-weight: 400;
    padding-bottom: 1rem;
}

.container .container-text a {
    text-decoration: none;
    color: #fff;
    background: rgb(56, 102, 223);
    padding: 20px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-align: center;
    margin-left: 12rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
}


/* footer styling */

footer {
    width: 100%
}

footer .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    width: 99.8%;
}

footer .footer-header .footer-header-text {
    padding-left: 2pc;
}

footer .footer-header .footer-header-text h3 {
    color: #3d3d3d;
    font-size: 1.6rem;
    padding-bottom: 5px;
}

footer .footer-header .footer-header-text h5 {
    font-size: 1rem;
    color: #3d3d3d
}

footer .footer-header .footer-header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-header .footer-header-icons .footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2pc
}

footer .footer-header .footer-header-icons .footer-card i {
    color: #3d3d3d;
    font-size: 1.2rem;
    background: #fff;
}

footer .footer-header .footer-header-icons .footer-card .footer-card-text {
    padding-left: 1pc;
}

footer .footer-header .footer-header-icons .footer-card .footer-card-text span {
    color: #555;
    font-size: 0.8rem;
    font-weight: 600;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-left: 2pc;
    padding-right: 2pc;
    ;
    width: 95%;
}

footer .footer-container .nav ul {
    list-style: none;
    width: 100%;
}

footer .footer-container #last {
    max-width: 800%;
}

.active1 {
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
    background: none;
    line-height: 33px;
}

footer .footer-container .nav ul li {
    color: #333333;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

footer .footer-container .nav ul li:hover {
    color: #5f5f5f
}

footer .footer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-top: 2pc;
}

footer .footer-footer .footer-texts {
    color: #5f5f5f;
    padding-left: 2pc;
    font-size: 0.8rem
}

footer .footer-footer .footer-pays img {
    margin: 10px;
}

footer .footer-footer .footer-nav ul {
    display: flex;
    list-style: none;
}

footer .footer-footer .footer-nav ul li {
    margin: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    color: #3d3d3d;
}

footer .footer-footer .footer-nav ul li .help {
    text-decoration: none;
}


/*slide show query*/

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

@media only screen and (max-width: 1275px) {
    header .header-input i {
        margin-left: 27pc;
    }
    .login-container {
        margin-left: 23pc
    }
}

@media only screen and (max-width: 1100px) {
    header .header-input i {
        margin-left: 23pc;
    }
    footer .footer-header .footer-header-text h3 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1000px) {
    header .header-input i {
        margin-left: 20pc;
    }
    .login-container {
        margin-left: 20pc;
    }
}

@media only screen and (max-width: 900px) {
    header .header-input i {
        margin-left: 10pc;
    }
}

@media only screen and (max-width: 820px) {
    header .header-icons a {
        margin: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
    header .header-input {
        width: 40%;
    }
    header .header-input input {
        width: 100%;
        display: flex;
    }
    .login-container {
        margin-left: 17pc;
    }
    .footer .footer-header .footer-header-text h3 {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 700px) {
    header .header-input i {
        margin-left: 8pc;
    }
    header .header-icons a {
        display: none;
    }
    header .responsive-icons a {
        display: block;
    }
    .login-container {
        margin-left: 14pc
    }
    footer .footer-header .footer-header-text h3,
    h5 {
        display: none;
        ;
    }
}

@media only screen and (max-width: 546px) {
    header .header-input i {
        margin-left: 8pc;
    }
    header .responsive-icons a {
        margin: 6px;
    }
    header .header-input {
        width: 50%;
    }
    header .header-input input {
        width: 200%;
        display: flex;
    }
    .login-container {
        margin-left: 10pc;
    }
}

@media only screen and (max-width: 500px) {
    header,
    .banner,
    .slide-show,
    .login-container,
    .offers,
    .offer,
    .cards,
    .ad,
    .footer,
    .navbar {
        display: none;
    }
    body {
        background: #f2f2f2;
    }
    .heading {
        display: block;
    }
}


/*products page*/

.product-cover {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.product-cover .image img {
    width: 100%;
}

.product-cover .row {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-cover .row .column {
    padding-left: 20px
}

.product-cover .row .column img {
    transition: .1s ease-in-out;
}

.product-cover .row .column img:hover {
    outline: solid 5px rgb(56, 102, 223);
    transition: outline 0.3s linear;
    margin: 0.5em;
    outline-width: 2px;
}

.border {
    outline: solid 5px rgb(56, 102, 223);
    transition: outline 0.3s linear;
    margin: 0.5em;
    outline-width: 2px;
}

a {
    text-decoration: none;
}

.product-cover .text h2 {
    color: rgb(126, 133, 155)
}

.product-cover .text h4 {
    color: rgb(64, 69, 83);
    font-size: 1.6em;
    font-weight: 600;
}

.product-cover .text .h3 {
    display: flex;
    flex-wrap: wrap;
    -moz-box-align: baseline;
    align-items: baseline;
    font-size: 20px;
    font-weight: 900;
    padding-top: 15px;
}

.product-cover .text img {
    width: auto;
    max-width: unset;
    height: 24px;
    max-height: unset;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cover .text .buttons {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-right: 10px;
    padding: 10px;
}

.product-cover .text .buttons .add-to-cart,
.product-cover .text .buttons .wishlist {
    background-color: rgb(43, 76, 215);
    color: #fff;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    z-index: 5;
    opacity: 1;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.info {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
    padding: 10px;
    width: 30%;
    margin-right: 20px;
}

.info .delev {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.info .delev img {
    width: 24px;
    max-width: unset;
    height: 24px;
    max-height: unset;
}

.info .learn {
    display: flex;
    align-items: center;
}

.info .learn img {
    width: 24px;
    max-width: unset;
    height: 24px;
    max-height: unset;
}

.info .learn h5 {
    color: blue;
    text-decoration: underline;
    transition: 0.5s ease-in-out!important;
}

.info .learn h5:hover {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;
}

.info .delev span {
    color: blue;
    font-weight: 500;
    text-decoration: underline;
    transition: 0.5s ease-in-out!important;
}

.info .delev span:hover {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;
}

.group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgb(243, 244, 248);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    width: 80%;
    margin-right: 20px;
}

.sold .seller {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 1rem;
}

.sold .seller .img img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: 1rem;
}

.sold .seller h5 {
    color: rgb(126, 133, 155)
}

.sold .seller .text h5 span {
    color: blue;
    text-decoration: underline;
}

.recent {
    display: flex;
    align-items: center
}

.recent img {
    width: 25px;
    height: auto;
    padding-right: 10px;
    padding-left: 1rem
}

.shipping {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.shipping .text h4 {
    font-weight: 600;
    font-size: 0.85em;
    margin-bottom: 3px;
}

.shipping .text h5 {
    color: rgb(126, 133, 155)
}

.shipping .img img {
    width: 35px;
    max-width: unset;
    height: 35px;
    max-height: unset;
}

.sercured {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.sercured .text h4 {
    font-weight: 600;
    font-size: 0.85em;
    margin-bottom: 3px;
}

.sercured .text h5 {
    color: rgb(126, 133, 155)
}

.sercured img {
    width: 35px;
    max-width: unset;
    height: 35px;
    max-height: unset;
}